* {
  text-align: center;
  font-family: Helvetica;
}

h1 {
  font-size: 70px;
  font-weight: 70px;
  color: ;
  background-image:image(resources/images/the-flatiron-building.png);
}

.headline {
  background-image:image(resources/images/the-flatiron-building.png);
